<h1>Edit Blog</h1>
<%= form_with(model: @blog, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :events %>
    <%= form.collection_check_boxes :event_ids, @events, :id, :title do |b| %>
      <div class="checkbox">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Blog' %>
  </div>
<% end %>
<%= link_to 'Back', blogs_path %>