<div id="<%= dom_id event %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= event.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= event.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= event.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= event.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= event.user_id %>
  </p>

</div>
