<div class="container mx-auto px-4">
  <h1 class="text-3xl font-semibold mb-4"><%= action_name.capitalize %> Event</h1>

  <%= form_with model: @event, local: true do |form| %>
    <div class="mb-4">
      <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :title, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
    </div>
    <div class="mb-4">
      <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_area :description, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", rows: 6 %>
    </div>
    <div class="mb-4">
      <%= form.label :location, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :location, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
    </div>
    <div class="mb-4">
      <%= form.label :date, class: "block text-sm font-medium text-gray-700" %>
      <%= form.datetime_select :date, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
    </div>
    <div>
      <%= form.submit class: "inline-block bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-700" %>
    </div>
  <% end %>
</div>