<div class="container mx-auto px-4">
  <div class="bg-white shadow-md rounded-lg p-6 mb-6">
    <h1 class="text-3xl font-semibold mb-4"><%= @event.title %></h1>
    <p class="text-gray-600 mb-2"><%= @event.description %></p>
    <p class="text-gray-600 mb-2"><%= @event.location %></p>
    <p class="text-gray-600 mb-4"><%= @event.date.strftime('%B %d, %Y') %></p>

    <% if user_signed_in? %>
      <% if current_user == @event.user %>
        <div class="mb-4">
          <%= link_to 'Edit', edit_event_path(@event), class: "text-indigo-600 hover:text-indigo-700 mr-4" %>
          <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-600 hover:text-red-700" %>
        </div>
      <% else %>
        <% if @event.bookings.where(user: current_user).exists? %>
          <%= link_to 'Cancel Booking', event_booking_path(@event, @event.bookings.find_by(user: current_user)), method: :delete, class: "text-red-600 hover:text-red-700" %>
        <% else %>
          <%= link_to 'Book Event', event_bookings_path(@event), method: :post, class: "text-indigo-600 hover:text-indigo-700" %>
        <% end %>
      <% end %>
    <% end %>

    <h3 class="text-xl font-semibold mb-2">Reviews</h3>
    <% @event.reviews.each do |review| %>
      <div class="bg-gray-100 p-4 mb-4">
        <strong class="text-lg"><%= review.user.email %>:</strong>
        <p class="text-gray-600 mb-2"><%= review.content %></p>
        <p class="text-gray-600 mb-2">Rating: <%= review.rating %></p>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <%= form_with model: [@event, @event.reviews.build], local: true do |form| %>
        <div class="mb-4">
          <%= form.label :content, class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_area :content, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", rows: 3 %>
        </div>
        <div class="mb-4">
          <%= form.label :rating, class: "block text-sm font-medium text-gray-700" %>
          <%= form.number_field :rating, in: 1..5, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-16 shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>
        <div>
          <%= form.submit 'Submit Review', class: "inline-block bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-700" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>